In [1]:
# Title: Working with Data types and structures in Python and R

In [2]:
#Load the 'pandas' package
import pandas as pd
testData=pd.read_csv("../Data/ae_attendances_admissions_emergency_test.csv")
testData

    index org_code  period attendances breaches
0    2826      RGT  Jul-16    10,081.0  2,288.0
1    2865      RM1  Jul-16    10,303.0  1,080.0
2    3941      RRK  Apr-16     9,044.0  1,195.0
3    5431      RJN  Dec-17     4,238.0  1,208.0
4    5940      RNZ  Nov-17     3,940.0    209.0
5    6727      RQ3  Aug-17     3,801.0     86.0
6    7952      RBL  May-17     8,270.0  2,120.0
7    8427      R1K  Mar-19    12,753.0  3,178.0
8   10489      RPA  Oct-18     7,710.0  1,750.0
9   12390      RA3  May-18     4,390.0    348.0
10  12463      RDE  Apr-18     7,942.0    523.0

In [3]:
result = testData.dtypes
print("Output:")
print(result)

Output:
index           int64
org_code       object
period         object
attendances    object
breaches       object
dtype: object

In [4]:
testData.head(n=1)

   index org_code  period attendances breaches
0   2826      RGT  Jul-16    10,081.0  2,288.0

In [5]:
dfTofill = pd.DataFrame({'index': [0],# Integer
'org_code': ['NA'], # String
'period': [pd.Timestamp('20000101')], # Date
'attendances': [0], # Integer
'breaches': [0], # Integer
'consent': [False]}) # Boolean
dfTofill

   index org_code     period  attendances  breaches  consent
0      0       NA 2000-01-01            0         0    False

In [6]:
dfTofill.to_csv('../Data/ae1.csv', index=False)

In [7]:
CollectData=pd.read_csv('../Data/ae1.csv')
CollectData

   index  org_code      period  attendances  breaches  consent
0      0       NaN  2000-01-01            0         0    False

In [8]:
testData.head(n=1)

   index org_code  period attendances breaches
0   2826      RGT  Jul-16    10,081.0  2,288.0

In [9]:
index_number=2826 #Remember to change for each record.
dfTofill.iloc[0,0]=index_number
dfTofill

   index org_code     period  attendances  breaches  consent
0   2826       NA 2000-01-01            0         0    False

In [10]:
#Load the 'ipywidgets' package
import ipywidgets as widgets

In [11]:
#Load the 'IPython.display' package
from IPython.display import display

In [12]:
a = widgets.Checkbox(value=False,
description='I consent for the data I have provided to be processed',
disabled=False)

In [14]:
display(a)

Checkbox(value=True, description='I consent for the data I have provided to be processed')

In [15]:
dfTofill.iloc[0,5]=a.value
dfTofill

   index org_code     period  attendances  breaches  consent
0   2826       NA 2000-01-01            0         0     True

In [16]:
print(result[1])
#String data type

object

In [17]:
testData.head(n=1)

   index org_code  period attendances breaches
0   2826      RGT  Jul-16    10,081.0  2,288.0

In [22]:
b = widgets.DatePicker(
description='Period',
disabled=False
)
display(b)

DatePicker(value=None, description='Period')

In [23]:
dfTofill.iloc[0,1]=b.value
dfTofill

   index org_code period  attendances  breaches  consent
0   2826     None    NaT            0         0     True

In [24]:
print(result[2])
#String data type

object

In [25]:
#Load the 'numpy' package
import numpy as np
testData.describe(include='all')

               index org_code  period attendances breaches
count      11.000000       11      11          11       11
unique           NaN       11      10          11       11
top              NaN      RGT  Jul-16    10,081.0  2,288.0
freq             NaN        1       2           1        1
mean     7222.818182      NaN     NaN         NaN      NaN
std      3478.562456      NaN     NaN         NaN      NaN
min      2826.000000      NaN     NaN         NaN      NaN
25%      4686.000000      NaN     NaN         NaN      NaN
50%      6727.000000      NaN     NaN         NaN      NaN
75%      9458.000000      NaN     NaN         NaN      NaN
max     12463.000000      NaN     NaN         NaN      NaN

In [26]:
org_code=list(testData['org_code'].unique())
org_code

['RGT', 'RM1', 'RRK', 'RJN', 'RNZ', 'RQ3', 'RBL', 'R1K', 'RPA', 'RA3', 'RDE']

In [27]:
testData.head(n=1)

   index org_code  period attendances breaches
0   2826      RGT  Jul-16    10,081.0  2,288.0

In [28]:
c=widgets.Select(
options=org_code,
value='RGT',
rows=len(org_code),
description='ODS code:',
disabled=False
)
display(c)

Select(description='ODS code:', options=('RGT', 'RM1', 'RRK', 'RJN', 'RNZ', 'RQ3', 'RBL', 'R1K', 'RPA', 'RA3',…

In [29]:
dfTofill.iloc[0,1]=c.value
dfTofill

   index org_code period  attendances  breaches  consent
0   2826      RGT    NaT            0         0     True

In [40]:
print(result[3])

object

In [41]:
testData.head(n=1)

   index org_code  period attendances breaches
0   2826      RGT  Jul-16    10,081.0  2,288.0

In [42]:
e=widgets.IntText(
value=0,
description='Attendances:',
disabled=False)
display(e)

IntText(value=0, description='Attendances:')

In [43]:
dfTofill.iloc[0,3]=e.value
dfTofill

   index org_code period  attendances  breaches  consent
0   2826      RGT    NaT            0         0     True

In [44]:
print(result[4])

object

In [45]:
testData.head(n=1)

   index org_code  period attendances breaches
0   2826      RGT  Jul-16    10,081.0  2,288.0

In [46]:
f=widgets.IntText(
value=0,
description='Breaches:',
disabled=False)
display(f)

IntText(value=0, description='Breaches:')

In [47]:
# CollectData is the first data frame
# dfTofill is the second data frame
CollectData = pd.concat([CollectData, dfTofill])
display(CollectData)

   index org_code      period  attendances  breaches  consent
0      0      NaN  2000-01-01            0         0    False
0   2826      RGT         NaN            0         0     True

In [48]:
CollectData=CollectData[CollectData['consent'] == True]
display(CollectData)

   index org_code period  attendances  breaches  consent
0   2826      RGT    NaN            0         0     True

In [49]:
CollectData.to_csv('../Data/CollectedData.csv', index=False)